body {
  margin: 0;
  background: #111;
  overflow: hidden;
}

/* ESCENA FIJA */
.scene {
  position: absolute;
  width: 1920px;
  height: 1080px;

  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%) scale(var(--scale));
  transform-origin: center;
}

/* LOGO */
.titulo-logo {
  position: absolute;
  width: 500px;

  left: 50px;
  top: 50px;
}

/* BOTONES (IGUAL QUE TU ORIGINAL) */
#btn1, #btn2, #btn3 {
  position: absolute;
  width: 207px;
  cursor: pointer;
}

/* POSICIONES EXACTAS */
#btn1 {
  left: 890px;
  top: 800px;
}

#btn2 {
  left: 1650px;
  top: 400px;
}

#btn3 {
  left: 20px;
  top: 400px;
}

/* MODELO */
.modelo {
  position: absolute;

  width: 800px;
  height: 800px;

  left: 50%;
  top: 35%;

  transform: translate(-50%, -50%);
}
