body {
  margin: 0;
  background: #000;

  display: flex;
  justify-content: center;

  overflow: hidden;
}

/* LIENZO FIJO (evita que se desarme en otras pantallas) */
.canvas {
  position: relative;

  width: 1440px;
  height: 900px;
}

/* LOGO */
.logo {
  position: absolute;

  width: 700px;

  left: 50%;
  top: 60px;

  transform: translateX(-50%);
}

/* IMAGEN 1 */
.img1 {
  position: absolute;

  width: 500px;

  right: 0;
  top: 0;
}

/* IMAGEN 2 */
.img2 {
  position: absolute;

  width: 500px;

  left: 0;
  bottom: 0;
}

/* TEXTO */
.texto {
  position: absolute;

  width: 700px;

  left: 50%;
  top: 60%;

  transform: translate(-50%, -50%);

  color: white;

  font-family: "Fira Code", monospace;
  font-size: 22px;
  line-height: 1.5;
  text-align: center;
}
